<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TV Shows</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12 ">
        <h1 class="text-center">Welcome {{user.first_name}}!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/tvshow" class="btn btn-primary">Create</a>
            <a href="/logout" class="btn btn-info" >Logout</a>
        </div>
    </nav>
    <h1>All TV Shows</h1>
    <div class="col-8 mx-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tvshow in tvshows %}
                    <tr>
                        <td>{{tvshow.name}}</td>
                        <td>{{tvshow.network}}</td>
                        <td>{{tvshow.release_date}}</td>
                        <td>
                            <a href="/tvshow/{{tvshow.id}}">View </a>
                            {% if tvshow.user_id == session.user_id %}
                            <a href="/edit/tvshow/{{tvshow.id}}">Edit</a>
                            <a href="/destroy/tvshow/{{tvshow.id}}">Delete</a>
                            {% endif %}
                            {% if tvshow.user_id != session.user_id %}
                            {% if user.email not in tvshow.users_who_liked %}
                            <p>
                                <a href="/tvshow/{{tvshow.id}}/like">Like</a>
                            </p>
                            {% endif %}
                        {% if user.email in tvshow.users_who_liked %}
                        <td><a href="/tvshow/{{tvshow.id}}/unlike">Unlike</a></td>
                        {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>