<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show TV Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12 ">
        <div class="d-flex col-4 justify-content-around">
            <a href="/" class="btn btn-primary">TV Shows</a>
            <a href="/logout" class="btn btn-info" >Logout</a>
        </div>
    </nav>
    <div class="card col-10 mx-auto bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">{{tvshow.name}}</h2>
            <p class="card-text">Network: {{tvshow.network}}</p>
            <p class="card-text">Release Date: {{tvshow.release_date}}</p>
            <p class="card-text">Description: {{tvshow.description}}</p>
            <p class="card-text">Posted By: {{tvshow.first_name}}</p>
            <p class="card-text"> Likes: {{tvshow.likes}}</p>
        </div>


    </div>

</body>
</html>